{% extends 'html/base/base.html.twig' %}
{% block body %}
        <div class="window__content">
            <img class="image" src="assets/images/scoreboard-logo.png" alt="scoreboard logo">
            <div class="window__buttons">
                <a class="button" href="/new-match">New Match</a>
                <a class="button" href="/matches">Matches</a>
            </div>
        </div>
{% endblock %}